<div class="action-bar">
  <a class="btn btn-default" href="#/equipements">Equipements</a>
  <button class="btn btn-default" ng-click="compute()">Compute</button>
</div>

<div class=row>
  <div class="col-xs-1">
    <div class="stuff-cell"
         ng-model="dofus_1">
    </div>
    <div class="stuff-cell"
         ng-model="dofus_2">
    </div>
    <div class="stuff-cell"
         ng-model="dofus_3">
    </div>
    <div class="stuff-cell"
         ng-model="dofus_4">
    </div>
    <div class="stuff-cell"
         ng-model="dofus_5">
    </div>
    <div class="stuff-cell"
         ng-model="dofus_6">
    </div>
  </div>

  <div class="col-xs-1">
    <div class="stuff-cell"
         ng-model="amulette">
    </div>
    <div class="stuff-cell"
         ng-model="bouclier">
    </div>
    <div class="stuff-cell"
         ng-model="anneau_1">
    </div>
    <div class="stuff-cell"
         ng-model="ceinture">
    </div>
    <div class="stuff-cell"
         ng-model="bottes">
    </div>
  </div>

  <div class="col-xs-3">
    <img ng-src="{{}}" alt="personnage" height="300" width="250" style="border: 2px solid grey;">
  </div>

  <div class="col-xs-1">
    <div class="stuff-cell"
         ng-model="chapeau">
    </div>
    <div class="stuff-cell"
         ng-model="arme">
    </div>
    <div class="stuff-cell"
         ng-model="anneau_2">
    </div>
    <div class="stuff-cell"
         ng-model="cape">
    </div>
    <div class="stuff-cell"
         ng-model="familier">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-2">Bases</div>
  <div class="col-xs-2">Parchemins</div>
  <div class="col-xs-2">Objectifs</div>
</div>

<div class="row">
  <div class="col-xs-1">Vitalité</div>
  <div class="col-xs-2">
    <input type="number" ng-model="base.vitalite">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="parcho.vitalite">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="objectif.vitalite">
  </div>
</div>

<div class="row">
  <div class="col-xs-1">Sagesse</div>
  <div class="col-xs-2">
    <input type="number" ng-model="base.sagesse">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="parcho.sagesse">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="objectif.sagesse">
  </div>
</div>

<div class="row">
  <div class="col-xs-1">Force</div>
  <div class="col-xs-2">
    <input type="number" ng-model="base.force">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="parcho.force">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="objectif.force">
  </div>
</div>

<div class="row">
  <div class="col-xs-1">Intelligence</div>
  <div class="col-xs-2">
    <input type="number" ng-model="base.intelligence">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="parcho.intelligence">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="objectif.intelligence">
  </div>
</div>

<div class="row">
  <div class="col-xs-1">Agilité</div>
  <div class="col-xs-2">
    <input type="number" ng-model="base.agilite">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="parcho.agilite">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="objectif.agilite">
  </div>
</div>

<div class="row">
  <div class="col-xs-1">Chance</div>
  <div class="col-xs-2">
    <input type="number" ng-model="base.chance">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="parcho.chance">
  </div>
  <div class="col-xs-2">
    <input type="number" ng-model="objectif.chance">
  </div>
</div>
