<div>
  <div style="position: relative; left: 20px; float: left;">
    <div class="stuff-cell"
         ng-model="dofus_1">
    </div>
    <div class="stuff-cell"
         ng-model="dofus_2">
    </div>
    <div class="stuff-cell"
         ng-model="dofus_3">
    </div>
    <div class="stuff-cell"
         ng-model="dofus_4">
    </div>
    <div class="stuff-cell"
         ng-model="dofus_5">
    </div>
    <div class="stuff-cell"
         ng-model="dofus_6">
    </div>
  </div>

  <div style="position: relative; left: 40px; float: left;">
    <div class="stuff-cell"
         ng-model="amulette">
    </div>
    <div class="stuff-cell"
         ng-model="bouclier">
    </div>
    <div class="stuff-cell"
         ng-model="anneau_1">
    </div>
    <div class="stuff-cell"
         ng-model="ceinture">
    </div>
    <div class="stuff-cell"
         ng-model="bottes">
    </div>
  </div>

  <img ng-src="{{}}" alt="personnage" height="300" width="250" style="border: 2px solid grey;">

  <div style="position: relative; left: 350px; float: left;">
    <div class="stuff-cell"
         ng-model="chapeau">
    </div>
    <div class="stuff-cell"
         ng-model="arme">
    </div>
    <div class="stuff-cell"
         ng-model="anneau_2">
    </div>
    <div class="stuff-cell"
         ng-model="cape">
    </div>
    <div class="stuff-cell"
         ng-model="familier">
    </div>
  </div>
</div>
